<div [ngClass]="{'pgcover': trial==true}">

<section>

<div class="navouter">
  <div class="left">
    <div class="navicon1">
      <i class="fa-regular fa-window-restore"></i>
    </div>
    <div class="searchbox">
      <div class="searchbar">Serach here here here</div>
      <div class="searchgo">Search</div>
    </div>
  </div>
  <div class="navright">
    <div class="rtoptions">
      <i class="fa-solid fa-comment-dots"></i>
      <i class="fa-sharp fa-solid fa-bell"></i>
      <i class="fa-solid fa-user"></i>
    </div>

  </div>
</div>
</section>
<!-- <br/> <br/> -->

<section class="center">
  <div class="leftmenubar">
    <div class="menuicon">
      <i class="fa-brands fa-windows"></i>
    </div>
    <div class="menuicon">
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
    <div class="menuiconadd" (click)="show()">
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
  <div class="centercontent">
   <app-contentblocks></app-contentblocks>

   <br><br>

   <section class="tablegraph"> 
    <div class="tablesctn">
    
    
    <table>
        <tr>
            <th>No</th>
            <th>Product Name</th>
            <th>Status</th>
            <th>Sold</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
        
        <tr *ngFor="let item of tableArray; let i=index" (click)="dlt(i)">
            <td *ngIf="item.status">&nbsp;&nbsp;&nbsp;{{i+1}}</td>
            <td id="purple">&nbsp;&nbsp;{{item.productname}}</td>
            <td id="blue">&nbsp;&nbsp;&nbsp;{{item.status}}</td>
            <td id="purple">&nbsp;&nbsp;&nbsp;&nbsp;{{item.sold}}</td>
            <td id="purple">&nbsp;&nbsp;&nbsp;&nbsp;{{item.view}}</td>
            <td id="purple">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></td>
        </tr>
          
        <!-- <tr>
            <td>2</td>
            <td>Assistant Manager</td>
            <td>Active</td>
            <td>10</td>
            <td>320</td>
        </tr>
          
        <tr>
            <td>3</td>
            <td>Analysist</td>
            <td>Active</td>
            <td>10</td>
            <td>320</td>
        </tr>
          
        <tr>
            <td>4</td>
            <td>Worker</td>
            <td>Active</td>
            <td>10</td>
            <td>320</td>
        </tr>
          
        <tr>
            <td>5</td>
            <td>Worker</td>
            <td>Active</td>
            <td>10</td>
            <td>320</td>
        </tr> -->
    </table>
    </div>

    <div class="graph">
      <img src="../assets/images/bar-graph1.png" alt="Graph">
    </div>
    </section> 
  
  </div>

</section>
</div>


<div class="forms" *ngIf="trial">
  <div class="innerform">
  <form #SubmitForm="ngForm" (ngSubmit)="submitForm(SubmitForm.value)"  autocomplete="off">
    <label for="">Product Name</label><br>
    <input type="text" name="productname" ngModel><br><br>


    <label for="">Status</label><br>
    <input type="text" name="status" ngModel><br><br>
    <label for="">Sold</label><br>
    <input type="text" name="sold" ngModel><br><br>
    <label for="">View</label><br>
    <input type="text" name="view" ngModel><br><br>
   
   
    <button type="submit">Submit</button>&nbsp;&nbsp;
    <button (click)="cancel()">Cancel</button>



  </form>
  </div>
</div>


<!-- <forms></forms> -->

<!-- <router-outlet></router-outlet> -->

<!-- 
<table>
  <tr>
      <th>No</th>
      <th>Product Name</th>
      <th>Status</th>
      <th>Sold</th>
      <th>View</th>
  </tr>
  
  <tr *ngFor="let item of tableArray; let i=index" (click)="dlt(i)">
      <td *ngIf="item.status">{{i}}</td>
      <td>{{item.productname}}</td>
      <td>{{item.status}}</td>
      <td>{{item.sold}}</td>
      <td>{{item.view}}</td>
  </tr>
    
 
</table> -->