<div class="dashboardheading">Dashboard</div>
<section class="dashboard">
<div class="dashboardcover1">
    <div class="dashboardwrapper">
        <div class="dashboardicon">
            <div class="iconwrapper">
            <i class="fa-regular fa-eye"></i>
        </div>
            <i class="fa-solid fa-arrow-trend-up"></i>
        </div>
        <p>Total View</p>
        <p>308.402</p>
        <div class="dashboaradbottom">
            <p>Start from 1 Jan 2021</p>
        </div>

    </div>
</div>
<div class="dashboardcover2">
    <div class="dashboardwrapper">
        <div class="dashboardicon">
            <div class="iconwrapper">
            <i class="fa-solid fa-bag-shopping"></i>
        </div>
            <i class="fa-solid fa-arrow-trend-up"></i>
        </div>
        <p>Total Products</p>
        <p>10.820</p>
        <div class="dashboaradbottom">
            <p>+ Add New Product</p>
        </div>

        

    </div>
</div>
<div class="dashboardcover3">
    <div class="dashboardwrapper">
        <div class="dashboardicon">
            <div class="iconwrapper">
            <i class="fa-solid fa-user-group"></i>
            </div>
            <i class="fa-solid fa-arrow-trend-up"></i>
        </div>
        <p>Total User</p>
        <p>8.425</p>
        <div class="dashboaradbottom">
            <p>New user noted every week</p>
        </div>

    </div>
</div>
<div class="dashboardcover4">
    <div class="dashboardwrapper">
        <div class="dashboardicon">
            <div class="iconwrapper">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
            <i class="fa-solid fa-arrow-trend-up"></i>
        </div>
        <p>Total Sells</p>
        <p>1.082.623</p>
        <div class="dashboaradbottom">
            <p>Start from 1 Jan 2021</p>
        </div>

    </div>
</div>
</section>
<br><br>
<!-- <app-tablegraph></app-tablegraph> -->

